<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.greenrobot.event"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="17" />

    <application android:label="EventBus">

    </application>

</manifest>
